@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Akkurat";
  src:
    url("/fonts/Akkurat-Regular.woff2") format("woff2"),
    url("/fonts/Akkurat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat";
  src:
    url("/fonts/Akkurat-Light.woff2") format("woff2"),
    url("/fonts/Akkurat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Glosa Display";
  src:
    url("/fonts/GlosaDisplay-Regular.woff2") format("woff2"),
    url("/fonts/GlosaDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Akkurat", sans-serif;
}

html {
  scroll-behavior: smooth;
}
